html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

body>:not(.show) {
    display: none !important;
}

input, button {
    background: none;
    border: none;
    font-size: 1em;
    letter-spacing: 1px;
}

:focus { outline: none; }
::-moz-focus-inner { border: none; }

#game, #lobbies {
    width: 100%;
    height: 100%;
}

#lobbies {
    display: flex;
    flex-direction: column;
}

#lobbies>ul {
    flex-grow: 1;
    overflow: auto;
}

#register {
    max-width: 40rem;
}

.danger {
    color: red;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
}

form h2, form p {
    margin: 0.5rem;
    width: 100%;
    white-space: pre-line;
}

label, button {
    margin: 0.5rem;
    border-width: 0.5rem;
    border-color: #ddd;
    border-radius: 0.5rem;
}

label {
    position: relative;
    background: #eee;
    box-shadow: 0 0.5rem 0 #ddd inset;
    padding-top: 0.5rem;
    flex-grow: 1;
    width: 15rem;
}

label span {
    position: absolute;
    line-height: 2rem;
    padding: 0 1rem;
    color: #555;
}

label span:after {
    content: ":";
}

label input {
    padding: 1rem;
    padding-top: 2rem;
}

button {
    background: #eee;
    padding: 1rem 2rem;
    box-shadow: 0 -0.5rem 0 #ddd inset;
    padding-bottom: 1.5rem;
    vertical-align: middle;
    font-weight: 600;
}

button:not(:disabled) {
    cursor: pointer;
}

button:not(:disabled):hover {
    background: #e8e8e8;
}

button:focus {
    text-decoration: underline;
}

button:not(:disabled):active {
    box-shadow: 0 0.5rem 0 #ddd inset;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
}
ul {
    background: #eee;
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    background: #fff;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: 10rem 1fr auto;
    grid-template-areas: "name description link";
    grid-gap: 1rem;
    align-items: center;
}
li>* {
    margin: 0;
}
li>h3 {
    grid-area: name;
}
li>p {
    grid-area: description;
}
li>button {
    grid-area: link;
    font-size: 0.75em;
}
